{% extends "main.html" %}

{% block content %}
<section class="page index">
  <h1 class="logo">{{ config.SHORTY_NAME|default("Shorty") }}</h1>
  <h2>Create your own short URL's with us!</h2>

  <form action="." method="post">
    {% if form.full.errors %}<div class="error">URL: {{ form.full.errors|join(" ") }}</div>{% endif %}
    {% if form.short.errors %}<div class="error">Custom short name: {{ form.short.errors|join(" ") }}</div>{% endif %}
    <input type="text" id="full" name="full" placeholder="http://" value="{{ form.full.data|default("", True) }}" {% if form.full.errors %}class="error" {% endif %}/>
    <button type="submit">Short</button>
    <br />
    <input type="text" id="short" name="short" placeholder="Custom short name" value="{{ form.short.data|default("", True) }}" {% if form.short.errors %}class="error" {% endif %}/>
    {{ form.csrf_token }}
  </form>
</section>
{% endblock %}
