{% extends "main.html" %}

{% block content %}
<section class="page info">
  <h1 class="logo">{{ config.SHORTY_NAME|default("Shorty") }}</h1>
  <h2>Here's is your new short link!</h2>

  <form>
    <input type="text" id="full" name="full" value="{{ link.full }}" disabled />
    <br />
    <input type="text" id="short" name="short" value="{{ url_for('core.index', _external=True) }}?{{ link.short }}" />
    <button class="copy-to-clipboard" data-copy-target="short">Copy</button>
  </form>

  <h3>Or you can scan this cool QR-code!</h3>
  <img class="qr" src="{{ url_for('core.qr', short=link.short) }}" />
</section>
{% endblock %}
